* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background: url("/images/metrix-logo.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 440px;
  overflow: hidden;
}
#right-background {
  background-color: white;
  opacity: 85%;
}
.bg-magenta {
  background-color: rgb(255, 0, 150);
}
.text-magenta {
  color: rgb(255, 0, 150);
}
#input-container {
  height: fit-content;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

#input-container input {
  border: none;
}

#input-container input:focus {
  outline: none !important;
  box-shadow: none;
}
#input-container select:focus {
  outline: none !important;
  box-shadow: none;
}

#create-account-link {
  font-size: 13px;
}
#login-account-link {
  font-size: 13px;
}
#gender-title {
  font-size: 14px;
}

div.submit-btn i {
  position: relative;
  left: 0;
  transition: 0.5s ease;
}

div.submit-btn:hover i {
  left: 10px;
}

div.submit-btn:hover {
  cursor: pointer;
}
#error-tooltip {
  position: absolute;
  width: 25%;
  font-size: 14px;
  right: 0;
  opacity: 85%;
}
#success-tooltip {
  position: absolute;
  width: 25%;
  font-size: 14px;
  right: 0;
  opacity: 85%;
}
